.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container_imagem {
    background: rgb(0, 0, 0);
    background: linear-gradient(95deg, rgba(0, 0, 0, 1) 0%, rgba(9, 29, 121, 1) 54%, rgba(255, 0, 0, 1) 100%);
    height: 400px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.ft_perfil {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    border: solid 2px #fff;

}

.profileContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.midiasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    background-color: black;
    border-radius: 20px;
    opacity: 0.8;
}

.midias {
    width: 50px;
    height: 50px;
    margin: 10px;
    ;

}

.container_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

.nome {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.profissao {
    font-size: 25px;
    color: white;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}
.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    ;
}